
@model ShopingCard
<form method="post" >
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <input hidden asp-for="ProductId" />
                @* <input hidden asp-for="MoreToUserId" /> *@
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="~/Images/Product/@Model.product.Img" alt="..." /></div>
                <div class="col-md-6">
                    <div class="small mb-1">@Model.product.Category.Name</div>
                    <h1 class="display-5 fw-bolder">@Model.product.Name</h1>
                    <div class="fs-5 mb-5">
                        @{
                            decimal num = Model.product.Price;
                            num *=(decimal)1.25; //خصم 25% 
                        }
                        <span class="text-decoration-line-through">@num<sup>EGP</sup></span>
                        <span> @Model.product.Price <sup>EGP</sup></span>
                    </div>
                    <p class="lead">@Model.product.Description</p>
                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" asp-for="Counter" style="max-width: 3rem" />  @*الرقم اللي داخل هيسمع في الكونتر*@
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit" >
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
@*related products !handel*@