@page
@using MyShop.Web.Classes
@using MyShop.Web.Models
@model RegisterModel

<style>
    .logi {
        margin-left: 40px;
        color: blue;
    }

    .tit {
        margin-top: 40px;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        color: blue;
    }

    .nam {
        margin-top: 40px;
    }

    .em {
        margin-top: 40px;
    }

    .pas {
        margin-top: 40px;
    }

    .con {
        margin-top: 40px;
    }

    .reg {
        margin-top: 40px;
    }

    .for {
        margin-top: 15px;
    }
</style>
<div class="row logi">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="tit">Create a new account</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3 nam">
                <input asp-for="Input.Name" class="form-control" aria-required="true" placeholder="Name" />
                <label asp-for="Input.Name">Name</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 em">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 pas">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 con">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @if(User.IsInRole(SD.AdminRole))  @* لو اللي داخل ادمن *@
            {
                <input type="radio" value="@SD.AdminRole" name="RoleRadio" />

                @SD.AdminRole
                <input type="radio" value="@SD.EditorRole" name="RoleRadio" />

                @SD.EditorRole
                <input type="radio" value="@SD.CustomerRole" name="RoleRadio" />  // هوه صعب الادمن يسجل كستومر كاريزمته متسمحلهوش

                @SD.CustomerRole
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Creat New User</button>

            }
            else 
            {
                <button id="registerSubmit reg" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            }
        </form>
    </div>
    
    <style>
        .LogImg {
            width: 600px;
            hight: 30px;
            position: relative;
            left: 150px;
        }
    </style>
    <img class="LogImg" src="~/img/register.jpg" />
    <div class="col-md-6 col-md-offset-2">
        <section>


            @{

                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>

            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
